.rain-card-container{

  background-color: white;
  border-radius: 4%;
  /*border: 1px solid #7d7d7d;*/
box-shadow: 10px 4px 12px rgba(0,0,0,0.25);
height:217px;
  width: 100%;
display: flex;
flex-direction:column;
justify-content: space-between;

}
.rain-card-container:hover{
  cursor: pointer;
  transform: scale(1.02);
}
.content-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.img-aguja{
  width: 150px;
  height: fit-content;
}
.flex-container{
  width: 100%;
  display:flex ;
  justify-content: space-between ;
  align-items: center;

}

.gauge_header{
  width: 100%;
  display:flex ;
  justify-content: space-between ;
  align-items: center;
padding-top: 5px;
padding-left: 3px;
padding-right: 3px;
}

.gauge_footer{
 width: 100%;
 height: auto;
  display:flex ;
  justify-content: space-between ;
  align-items: center;
padding-bottom: 5px;
padding-left: 3px;
padding-right: 3px;
}

.contaminatLevel__title{

  padding-top: 3px;
  padding-left: 3px;
  font-size: 18px;
}
.imagenes-svg{

      /* ahora sí cambia el color */
  font-size: 40px;
}
.speed-container{
  width: 50%;
  text-align: start;

}
.direccion-container{
width: 50%;
text-align: center;
font-size: 30px;
font-weight: 600;

}


.speed{
font-size: 36px;
font-weight: 600;
margin-right: 5px;
border-bottom: black;
}
.km{
margin-right: auto;

}

.indices{
  padding: 7px;
  background-color: #fe6385;
  border-radius: 8px;
  color: aliceblue;
  font-size: 13px;
  margin-right: 3px;
}
